[Unit]
Description=Plant sensor server: react and platform
After=network.target auditd.service

[Service]
WorkingDirectory=/home/quang-nguyen/projects/server-plant
ExecStart=/bin/bash ./moisture_server_startup.sh
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=/home/quang-nguyen/projects/server-plant/
User=quang-nguyen

[Install]
WantedBy=multi-user.target
